head
  title Results
| This is the weather information for a location with a timezone of #{timezone}
p
  | Here there is a humidity of #{humidity} g per cubic metres with a forcast of #{summary},
  br
  | additionally the temperature is #{temperature} degrees fahrenheit